@import "~antd/dist/antd.css";

.App {
  text-align: center;
  background: #ececec;
  padding: 30px;
}

.spinner-wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-spinner {
  transform: scale(1.5);
}

.card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 24px 250px !important;
}

.ant-card-meta {
  width: 100%
}



.ant-card-body {
  height: 100%;
}

.ant-input-affix-wrapper {
  width: 60%;
  margin-bottom: 30px;
}
